@import 'tailwindcss';

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --font-sans: "Dongle", ui-sans-serif, system-ui, sans-serif; 
    --font-serif: 'Merriweather', ui-serif, Georgia, serif;

    /* Colours */
    --color-brand-900: #020006; /*Really Dark Purple*/
    --color-darkpurple-200: #9E99A4;
    --color-indigo-900: #251133;
    --color-salmon-100: #FFEBEB;
    --color-salmon-300: #FFC2C4; 
    --color-lavender-400: #A267FF;
    --color-pink-700: #99298F;
}