@import 'tailwindcss';

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif; 
    --font-serif: 'Merriweather', ui-serif, Georgia, serif;

    /* Colours */
    --color-brand: #2563eb; /*Brand Blue*/
    --color-brand-600: #2563eb;/*Optional shades*/
    --color-brand-700: #1E40AF;
    --color-brand-light-purple: #d8bfd8;

    --color-brand-gray: #808080;
}